/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.first {
    height: 50vh;
    width: 100vw;
} */
/* .purple{
    background-color: #652CD3;
}
.second {
    z-index: 100;
}

.first::before {
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    border-radius: 10px 10px 0 0;
}


@media screen and (min-width: 480px) {
    .second {
        padding: 1.5rem;
        position: relative;
        z-index: 100;
        margin-top: -100px;
        background-color: red;
    }
  } */